
/*--------------------------------------LAYOUT--------------------------------------*/

html, body
{
 background-color: #2ba3d4;
}

/*-----------------SIDEBAR-----------------*/
 
#side_bar
{
 overflow: hidden;
 width: 200px;
 float: left;
 background-color: #000000;
 margin-top: 40px;
 position: fixed;
 z-index: 3;
}

#side_bar a.logo
{
 float: left;
 width: 100%;
 margin: 5px 0px 10px 0px;
}

#side_bar .pure-menu
{
 float: left;
 width: 100%;
 background-color: #000000;
 border: 0px;
}

#side_bar nav ul li a
{
 color: #ffffff;
 font-size: 14px;
}

#side_bar nav ul li a:hover
{
 color: #000000;
}

/*-----------------ACCOUNT BAR-----------------*/

#account_bar
{
 width: 100%;
 min-width: 460px;
 max-width: 780px;
 height: 30px;
 float: left;
 text-align: right;
}

#account_bar #account
{
 text-decoration: none;
 color: #0078e7;
}

#account_bar #account:hover
{
 text-decoration: underline;
 color: #0056a5;
}

#account_bar #logout
{
 text-decoration: none;
 color: #ca3c3c;
}

#account_bar #logout:hover
{
 text-decoration: underline;
 color: #a72020;
}

/*-----------------CONTENT-----------------*/

#content
{
 width: 100%;
 min-width: 460px;
 max-width: 780px;
 min-height: 450px;
 padding: 20px 70px 40px 70px;
 display: block;
 margin: auto;
 background-color: #ffffff;
}

#content header
{
 width: 100%;
 min-height: 20px;
 float: left;
 margin-bottom: 10px;
}

#content header h1
{
 float: left;
}

#content article h1
{
 font-weight: bold;
 margin: 0px 0px 10px 0px;
}

#content article p
{
 text-align: justify;
}

#content article hr
{
 margin: 20px 0px 20px 0px;
 display: block;
 height: 1px;
 border: 0;
 border-top: 1px solid #e5e5e5;
}


/*--------------------------------------GENERAL--------------------------------------*/

/*-----------------HEADINGS-----------------*/

h1
{
 font-size: 26px;
}

/*-----------------BUTTONS-----------------*/

.button-success,
.button-error,
.button-warning,
.button-secondary
{
 color: white;
 border-radius: 4px;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success
{
 background: rgb(28, 184, 65); /* this is a green */
}

.button-error
{
 background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning
{
 background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary
{
 background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall
{
 font-size: 70%;
}

.button-small
{
 font-size: 85%;
}

.button-large
{
 font-size: 100%;
}

.button-xlarge
{
 font-size: 125%;
}

/*-----------------POSITIONS-----------------*/

.left
{
 float: left;
}

.right
{
 float: right;
}

.wide
{
 width: 100%;
}

/*-----------------NAVIGATION-----------------*/

.breadcrumb
{
 width: 100%;
 height: 30px;
 line-height: 30px;
 margin: 0px;
 padding: 0px;
 float: left;
}

.breadcrumb li
{
 list-style: none;
 display: inline;
 margin-right: 5px;
}

.breadcrumb > li + li:before
{
 content: "/\00a0";
}

.breadcrumb li a
{
 text-decoration: none;
 color: #2ba3d4;
}

.breadcrumb li a:hover
{
 text-decoration: underline;
}

/*-----------------MESSAGES-----------------*/

.success
{
 color: #63b434;
 font-weight: bold;
}

.warning
{
 color: #ffa900;
 font-weight: bold;
}

.error
{
 color: #ff0000;
 font-weight: bold;
}

/*-----------------INPUTS-----------------*/


.input60
{
 width: 60px;
}

.input460
{
 width: 460px;
}